---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/Alframtor-profile.jpeg';
---

<Layout
	title="About Me"
	description="About Alframtor"
	pubDate={new Date('July 05 2025')}
>
    {AboutHeroImage && (
      <img
        src={AboutHeroImage.src}
        class="about-hero-image"
      />
    )}
	<p>
		Biology graduate currently pursuing a Master's degree in Bioinformatics and Biostatistics. This blog collects some of the projects I have developed during the Master's, explained in a clear and simplified way.
	</p>
</Layout>
